.product-cards {
    width: 100%;
    align-items: center;
    justify-content: center;
    margin-top: 3.125rem;
    display: grid;
    grid-gap: 3.125rem;
    grid-template-columns: repeat (3, auto);
    grid-template-rows: repeat (3, auto);
    grid-template-areas:
      "card-1 card-2 card-3"
      "card-4 card-5 card-6"
      "card-7 card-8 card-9";
  }
  .product-cards div {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
    font-size: 1.5625rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid black;
    border-radius: 10px;
    width: 9.375rem;
    height: 9.375rem;
  }