* {
  font-family: 'Roboto Condensed', sans-serif;
}
summary {
    list-style: none;
    display: inline;
    font-size: 1.875rem;
}
summary::before {
    content: '+';
  }
details[open] summary::before {
    content: '-';
  }
.imagenes {
  box-shadow: 7px 5px 5px #6d6b6b ;
}
.img-2 {
  box-shadow: 7px 5px 5px #272626 ;
  width: 16rem;
}
.nav-inicio {
  justify-content: space-evenly;
}
.ring {
  width: 2.5rem;
}
.button-fixed{
  display: flex;
  justify-content: center;
  width: 1.875rem;
  object-fit: contain;
}
.btn-sauron {
  border: none;
  background: none;
}
.img-button {
  width: 1.875rem;
}
.map {
  margin-left: 8.75rem;
}